// sider.pug
.sidebar
  ul
    li
      a(href=`${prefixAdmin}/dashboard`) Dashboard
    li
      a(href=`${prefixAdmin}/products`) Sản phẩm
    li
      a(href=`${prefixAdmin}/orders`) Đơn hàng
    li
      a(href=`${prefixAdmin}/customers`) Khách hàng
    li
      a(href=`${prefixAdmin}/settings`) Cài đặt
