// sider.pug
.sidebar
  ul
    li
      a(href=`${prefixAdmin}/dashboard`) Dashboard
    li
      a(href=`${prefixAdmin}/products`) Danh sách sản phẩm
    li
      a(href=`${prefixAdmin}/products-category`) Danh mục sản phẩm
    li
      a(href=`${prefixAdmin}/customers`) Khách hàng
    li
      a(href=`${prefixAdmin}/settings`) Cài đặt
